@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --color-bg-primary: #313031;
  --color-bg-secondary: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #2f51a3;
  --color-bg-input: #4a5361;
  --color-bg-button: #2f51a3;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #000000;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2f51a3;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2f51a3;
}

:root {
  @apply bg-primary text-primary;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

.pageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  @apply rounded-2xl shadow-2xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}
